################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Tanks/Tanks.vcxproj.user
/Tanks/x64/Debug
/Tanks/.vs/Tanks
/Tanks/Tanks/x64/Debug
/Tanks/Tanks/x64/Debug-SFML/Tanks.tlog
/Tanks/Tanks/x64/Debug-SFML
/Tanks/x64/Debug-SFML
